<a href="https://colab.research.google.com/github/madhuribheemarati/CODING-QUESTIONS-/blob/main/IMPORTANT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SMALL LARGE SUM

In [ ]:

def Small_large_sum(arr,n):
    if len(arr)<=3:
        return 0
    even_elements=arr[::2]
    odd_elements=arr[1::2]
    even_elements.sort()
    odd_elements.sort()
    second_largest_even=even_elements[-2]
    second_largest_odd=odd_elements[-2]
    return second_largest_even+second_largest_odd
n=int(input())
arr=list(map(int,input().split()))
print(Small_large_sum(arr,n))

7
4 0 7 9 6 4 2
10

CHECK PASSWORD

In [ ]:
def check_password(str):
    if len(str)<4:
        return 0
    if str[0].isdigit():
        return 0
    if not any(char.isdigit()for char in str):
        return 0
    if not any(char.isupper()for char in str):
        return 0
    if ' ' in str or '/'in str:
        return 0
    return 1


str=input()
print(check_password(str))

bB1_89
1

BINARY OPERATIONS

In [ ]:
def calculate_binaryoperations(str):
    ans=ord(str[0])-ord('0')
    for i in range(1,len(str)-1,2):
        j=i+1
        if (str[i]=='A'):
            ans=ans&(ord(str[j])-ord('0'))
        elif(str[i]=='B'):
            ans=ans|(ord(str[j])-ord('0'))
        else:
            ans=ans^(ord(str[j])-ord('0'))
    return ans
str=input()
print(calculate_binaryoperations(str))

1C0C1C1A0B1
1

MAXIMUM IN THE ARRAY

In [ ]:
def FindmaxInArray(arr,n):
    if len(arr)==0:
        return 0
    max_value=max(arr)
    max_index=arr.index(max_value)
    return max_value,max_index


n=int(input())
arr=list(map(int,input().split()))
print(FindmaxInArray(arr,n))

10
15 78 96 17 20 65 14 36 18 20
(96, 2)

OPERATION BINARY CHOICES

In [ ]:
def operationchoices(c,a,b):
    if c==1:
        return a+b
    elif c==2:
        return a-b
    elif c==3:
        return a*b
    elif c==4:
        if b==0:
            return "error:division by zero"
        return a/b
    else:
        return "error:invalid operation choice"
print(operationchoices(2,15,20))

-5

DIFFERENCE OF SUM

In [ ]:
def differenceofsum(a,b):
    sum_divisible_by_b=0
    sum_not_divisible_by_b=0 # this variable is defined here
    for i in range(1,a+1):
        if i%b==0:
            sum_divisible_by_b+=i
        else:
            sum_not_divisible_by_b+=i
    return(abs(sum_not_divisible_by_b-sum_divisible_by_b)) # make sure the name is consistent
a=6
b=30
print(differenceofsum(a,b))

21

ANAGRAM STRINGS

In [ ]:
n1=input()
n2=input()
if len(n1)!=len(n2):
    print("Not anagram")
else:
    if sorted(n1)==sorted(n2):
        print("Anagram")
    else:
        print("Not anagram")

Mahdu
Mahdu
Anagram

PATTERN

In [ ]:
rows=6
for i in range(1,rows+1):
    print("*"*rows)

******
******
******
******
******
******

In [ ]:
num=int(input("enter no of rows:"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

enter no of rows:5
*
**
***
****
*****

In [ ]:
num=int(input("enter no of rows:"))
k=1
for i in range(1,num+1):
    for j in range(1,k+1):
        print("*",end=" ")
    k=k+2
    print()

enter no of rows:3
*
* * *
* * * * *

In [ ]:
num=int(input("enter no of rows"))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

enter no of rows4
   *
  * *
 * * *
* * * *

In [ ]:
num=int(input("enter no of rows"))
for i in range(0,num):
    for j in range(0,i):
        print(end=" ")
    for j in range(0,num-i-1):
        print("*",end=" ")
    print()

enter no of rows5
* * * *
 * * *
  * *
   *

In [ ]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
def is_palindrome(s):
    left=0
    right=len(s)-1
    while left<right:
        if s[left]!=s[right]:
            return False
        left+=1
        right-=1
    return True
print(is_palindrome("RACECAR"))
print(is_palindrome("hello"))

True
False

In [ ]:
def replace_character(str,ch1,ch2):
    result=" "
    for char in str:
        if char==ch1:
            result+=ch2
        elif char==ch2:
            result+=ch1
        else:
            result+=char
    return result
str="apples"
ch1="a"
ch2="p"
print(replace_character(str,ch1,ch2))

 paales

REVERSE A STRING

In [ ]:
def reverse_string(str):
  words=str.split()
  reversed_words=words[::-1]
  reversed_str=" ".join(reversed_words)
  return reversed_str
str="Welcome to Sunday samayal"
print(reverse_string(str))

samayal Sunday to Welcome

In [ ]:
def Calculate(r,unit,arr,n):
    if arr is None or n ==0:
        return -1
    totalFoodrequired = r*unit
    foodtillnow=0
    for i in range(n):
        foodtillnow+=arr[i]
        if foodtillnow>=totalFoodrequired:
            return i+1
    return 0
r=int(input("rats:"))
unit=int(input("units:"))
n=int(input("no of elements in array:"))
arr=list(map(int,input("list of elements with space seperated:").split()))
print(Calculate(r,unit,arr,n))

rats:7
units:2
no of elements in array:8
list of elements with space seperated:2 8 3 5 7 4 1 2
4

In [ ]:
def findcount(arr,num,diff):
    count=0
    for element in arr:
      if abs(element-num)<=diff:
        count+=1
    return count if count > 0 else -1
arr=[12, 3, 14, 56, 77, 13]
num=13
diff=2
result=findcount(arr,num,diff)
print(result)

3

decode the n-base notation

In [ ]:
def DectoNbase(n,num):
  symbols="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  result=" "
  while num>0:
    remainder=num%n
    num//=n
    result=symbols[remainder]+result
  return result
print(DectoNbase(12,718))

4BA

matrix even/odd

In [ ]:
def matrix_even_odd():
    n=int(input("enter the size of array:"))
    even_matrix =[]
    odd_matrix = []
    for i in range(n):
        element=int(input(f"enter element at {i} index:"))
        if i%2==0:
          even_matrix.append(element)
        else:
          odd_matrix.append(element)
    even_matrix.sort()
    odd_matrix.sort()
    second_largest_even=even_matrix[-2]
    second_largest_odd=odd_matrix[-2]
    return second_largest_even+second_largest_odd
print(matrix_even_odd())

enter the size of array:5
enter element at 0 index:3
enter element at 1 index:4
enter element at 2 index:1
enter element at 3 index:7
enter element at 4 index:9
7

divisible by 3 and 5 in a given range

In [ ]:
def calculate(m,n):
    total_sum=0
    for number in  range(m,n+1):
      if number %3 == 0 and number %5 == 0:
        total_sum+=number
    return total_sum
m=12
n=50
print(calculate(m,n))

90

character count

In [ ]:
def count_char(S,N,l):
  return S.count(l)
input1="Helloworld"
input2=10
input3="l"
output=count_char(input1,input2,input3)
print(output)

3

rebound the height

In [ ]:
def rebound_height(H,V,Vn):
  e=V/Vn
  rebound_height=H * (e ** 2)
  return int(rebound_height)
input1=10
input2=20
input3=5
output=rebound_height(input1,input2,input3)
print(output)

160

label even odd

In [ ]:
def label_even_odd(A,N):
  result=[]
  for num in A:
    if num%2==0:
      result.append("even")
    else:
      result.append("odd")
  return result
input1=[1,2,3,4,5]
input2=5
output=label_even_odd(input1,input2)
print(output)

['odd', 'even', 'odd', 'even', 'odd']

sum XOR

In [ ]:
def sum_xor_difference(N,A):
  sum_odd=0
  xor_even=0
  A_list=list(A)
  for i in range(N):
    if i%2==0:
       xor_even^=A_list[i]
    else:
       sum_odd+=A_list[i]
  return sum_odd-xor_even
N=6
A=[10,5,6,3,7,2]
print(sum_xor_difference(N,A))

-1

minimize the pair product

In [ ]:
def maximize_pair_product(N,A):
  max_product = float('-inf')
  best_pair = []
  for i in range(N):
    for j in range(i + 1, N):
        if A[i]+A[j]==18 and A[i]>A[j]:
            product=A[i]*A[j]
            if product >max_product:
                max_product=product
                best_pair=[A[i],A[j]]
  return best_pair if best_pair else None
N=8
A=[11,1,2,8,10,11,15,7]
print(maximize_pair_product(N,A))

[11, 7]

Special Fibonacci Series

In [ ]:
def Special_Fibonacci_Series(input1):
  input1:int
  res=[0]*(input+1)
  res[0]=1
  res[0]=1
  for i in range(2,input+1):
    res[i]=(res[i-1]*res[i-1]+res[i-2])%47
  return res[input1]
print(Special_Fibonacci_Series())

TypeError: unsupported operand type(s) for +: 'method' and 'int'